.objective-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: var(--jp-widgets-font-size);
  line-height: var(--jp-widgets-inline-height);
}

 th.objective-table {
   border: 1px solid #ddd;
   padding-left: 1em;
   font-size: 150%;
}

td.objective-table {
  border: 1px solid #ddd;
  padding-left: 3em;
}


td.individual-objective-table {
  padding-left: 1em;
}

tr.objective-table:nth-child(even){background-color: #f2f2f2;}

tr.objective-table:hover {background-color: #ddd;}

tr.objective-table.desc-selected {background-color: #c5d4ed;}

tr.objective-table.desc-selected:hover {background-color: #B7C6DF;}

div.hide-display {
  display: none;
}

th.objective-table {
  text-align: left;
  background-color: SlateGrey;
  color: white;
}

th.objective-table.empty {
  background-color: DarkGrey;
  color: LightGrey;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

td.objective-table {
  font-weight: bold;
}

div.objective-table.table-expanded-description {
  padding-left: 3em;
  font-weight: normal;
}